@model SV19T1081018.DomainModel.Cong
@{

}

<div class="box box-primary" style="border-radius: 10px">
    <div class="box-body">
        <form class="form-horizontal" action="~/timekeeping/save" method="post">
            @Html.HiddenFor(m => m.MaNhanVien)
            @Html.HiddenFor(m => m.MaCong)
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên nhân viên:</label>
                <div class="col-sm-10">
                        <p class="form-control-static">@SV19T1081018.BusinessLayer.CommonDataService.GetNhanVien(Model.MaNhanVien).TenNhanVien</p>                   
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Ca:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@SV19T1081018.BusinessLayer.CommonDataService.GetCaLamViec(Model.MaCaLamViec).TenCaLamViec</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Thời gian vào ca:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ThoiGianVaoCa, new { @class = "form-control", @style = "border-radius: 10px" })
                    @Html.ValidationMessageFor(m => m.ThoiGianVaoCa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thời gian kết thúc:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ThoiGianKetThuc, new { @class = "form-control", @style = "border-radius: 10px" })
                    @Html.ValidationMessageFor(m => m.ThoiGianKetThuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email"></label>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.status) Công đúng?
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" style="border-radius: 10px;">
                        <i class="fa fa-save"></i>
                        Lưu dữ liệu
                    </button>
                    @if (Model != null)
                    {
                        <a class="btn btn-default" href="~/timekeeping/edit/@Model.MaNhanVien/@Model.ThoiGianVaoCa.Month/@Model.ThoiGianVaoCa.Year" style="border-radius: 10px;">
                            <i class="fa fa-backward"></i>
                            Quay lại
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-default" href="~/timekeeping/edit/@Model.MaNhanVien" style="border-radius: 10px;">
                            <i class="fa fa-backward"></i>
                            Quay lại
                        </a>
                    }
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @Html.ValidationSummary()
                    </div>
                </div>*@
        </form>
    </div>
    <!-- /.box-body -->
</div>


