@model SV19T1081018.DomainModel.Cong
@{

}

<div class="box box-primary" style="border-radius: 10px">
    <div class="box-body">
        <form class="form-horizontal" action="~/timekeeping/save" method="post">
            @Html.HiddenFor(m => m.MaNhanVien)
            @Html.HiddenFor(m => m.MaCong)
            <input type="datetime" name="Ngay" value="@Model.Ngay" hidden />
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên nhân viên:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@SV19T1081018.BusinessLayer.CommonDataService.GetNhanVien(Model.MaNhanVien).TenNhanVien</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Ngày:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Ngay.ToString("dd/MM/yyyy")</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Ca:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="MaCaLamViec" style="border-radius: 10px;">
                        @foreach (var item in SV19T1081018.BusinessLayer.CommonDataService.ListCaLamViec())
                        {
                            <option value="@item.MaCaLamViec">@item.TenCaLamViec</option>

                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Thời gian vào ca:</label>
                <div class="col-sm-10">
                    <input type="time" name="ThoiGianVaoCa" value="@Model.ThoiGianVaoCa" style="border-radius: 10px;">
                    @Html.ValidationMessageFor(m => m.ThoiGianVaoCa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thời gian kết thúc:</label>
                <div class="col-sm-10">
                    <input type="time" name="ThoiGianKetThuc" value="@Model.ThoiGianKetThuc" style="border-radius: 10px;">
                    @Html.ValidationMessageFor(m => m.ThoiGianKetThuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email"></label>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.status, new {@checked = ""}) Công đúng?
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" style="border-radius: 10px;">
                        <i class="fa fa-save"></i>
                        Lưu dữ liệu
                    </button>
                    @if (Model.MaCong != 0)
                    {
                        <a class="btn btn-danger" onclick="return confirm('Xác nhận xóa công này?')" href="~/timekeeping/delete/@Model.MaCong/@Model.MaNhanVien/@Model.Ngay.Month/@Model.Ngay.Year" style="border-radius: 10px;">
                            <i class="fa fa-trash"></i>
                            Xóa công
                        </a>
                    }
                    <a class="btn btn-default" href="~/timekeeping/edit/@Model.MaNhanVien/@Model.Ngay.Month/@Model.Ngay.Year" style="border-radius: 10px;">
                        <i class="fa fa-backward"></i>
                        Quay lại
                    </a>
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @Html.ValidationSummary()
                    </div>
                </div>*@
        </form>
    </div>
    <!-- /.box-body -->
</div>


