
@{
    ViewBag.Title = "Chỉnh sửa công tháng " + ViewData["Thang"] + " năm " + ViewData["Nam"];
    int days = DateTime.DaysInMonth(Convert.ToInt32(ViewData["Nam"]), Convert.ToInt32(ViewData["Thang"]));
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>

    h1.title {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }

    .calendar {
        margin: 0px 40px;
    }

    .popover.calendar-event-popover {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: rgb(120, 120, 120);
        border-radius: 2px;
        max-width: 300px;
    }

        .popover.calendar-event-popover h4 {
            font-size: 14px;
            font-weight: 900;
        }

        .popover.calendar-event-popover .location,
        .popover.calendar-event-popover .datetime {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 5px;
        }

            .popover.calendar-event-popover .location > span,
            .popover.calendar-event-popover .datetime > span {
                margin-right: 10px;
            }

        .popover.calendar-event-popover .space,
        .popover.calendar-event-popover .attending {
            margin-top: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(160, 160, 160);
            font-weight: 700;
        }

            .popover.calendar-event-popover .space > .pull-right,
            .popover.calendar-event-popover .attending > .pull-right {
                font-weight: 400;
            }

        .popover.calendar-event-popover .attending {
            margin-top: 5px;
            font-size: 18px;
            padding: 0px 10px 5px;
        }

            .popover.calendar-event-popover .attending img {
                border-radius: 50%;
                width: 40px;
            }

            .popover.calendar-event-popover .attending span.attending-overflow {
                display: inline-block;
                width: 40px;
                background-color: rgb(200, 200, 200);
                border-radius: 50%;
                padding: 8px 0px 7px;
                text-align: center;
            }

            .popover.calendar-event-popover .attending > .pull-right {
                font-size: 28px;
            }

        .popover.calendar-event-popover a.btn {
            margin-top: 10px;
            width: 100%;
            border-radius: 3px;
        }

    [data-toggle="calendar"] > .row > .calendar-day {
        font-family: 'Roboto', sans-serif;
        width: 14.28571428571429%;
        border: 1px solid rgb(235, 235, 235);
        border-right-width: 0px;
        border-bottom-width: 0px;
        min-height: 120px;
    }

        [data-toggle="calendar"] > .row > .calendar-day.calendar-no-current-month {
            color: rgb(200, 200, 200);
        }

        [data-toggle="calendar"] > .row > .calendar-day:last-child {
            border-right-width: 1px;
        }

    [data-toggle="calendar"] > .row:last-child > .calendar-day {
        border-bottom-width: 1px;
    }

    .calendar-day > time {
        position: absolute;
        display: block;
        bottom: 0px;
        left: 0px;
        font-size: 12px;
        font-weight: 300;
        width: 100%;
        padding: 10px 10px 3px 0px;
        text-align: right;
    }

    .calendar-day > .events {
        cursor: pointer;
    }

        .calendar-day > .events > .event h4 {
            font-size: 12px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 3px;
        }

        .calendar-day > .events > .event > .desc,
        .calendar-day > .events > .event > .location,
        .calendar-day > .events > .event > .datetime,
        .calendar-day > .events > .event > .attending {
            display: none;
        }

        .calendar-day > .events > .event > .progress {
            height: 10px;
        }
</style>
<!------ Include the above in your HEAD tag ---------->

<h1 class="title text-center"> Tháng @ViewData["Thang"]/@ViewData["Nam"] </h1>
<div class="calendar" data-toggle="calendar">
    <div class="row">
        <div class="col-xs-12 calendar-day calendar-no-current-month">
            <time datetime="2014-06-29">29</time>
        </div>
        <div class="col-xs-12 calendar-day calendar-no-current-month">
            <time datetime="2014-06-30">30</time>
        </div>
        @for (int i = 1; i <= days; i++)
        {
            <div class="col-xs-12 calendar-day" style="position:relative">
                <time datetime="@ViewData["Nam"]-@ViewData["Thang"]-@i">@i</time>
                <div class="events">
                    @foreach (var item in SV19T1081018.BusinessLayer.CommonDataService.GetCongTheoNgay(Convert.ToInt32(ViewData["MaNhanVien"]),
                        i, Convert.ToInt32(ViewData["Thang"]), Convert.ToInt32(ViewData["Nam"])))
                    {
                        if (item.status == true)
                        {
                            <div>
                                <button class="datetime" style="background-color: #77DF79; border-radius: 5px; margin-bottom: 5px; border: none; font-size: 13px">
                                    <a href="~/timekeeping/editcong/@ViewData["MaNhanVien"]/@item.MaCong" style="color: black;  text-decoration: none;">
                                        <span class="glyphicon glyphicon-time"></span> @item.ThoiGianVaoCa.ToShortTimeString() -
                                        @if (DateTime.Compare(item.ThoiGianVaoCa, item.ThoiGianKetThuc) == 0)
                                        {
                                            <span>?</span>
                                        }
                                        else
                                        {
                                            @item.ThoiGianKetThuc.ToShortTimeString()
                                        }
                                    </a>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div>
                                <button type="submit" class="datetime" style="background-color: #ff6961; border-radius: 5px; margin-bottom: 5px; border: none; font-size: 13px">
                                    <a href="~/timekeeping/editcong/@ViewData["MaNhanVien"]/@item.MaCong" style="color: black;  text-decoration: none;">
                                        <span class="glyphicon glyphicon-time"></span> @item.ThoiGianVaoCa.ToShortTimeString() - @if (DateTime.Compare(item.ThoiGianVaoCa, item.ThoiGianKetThuc) == 0)
                                        {
                                            <span>?</span>
                                        }
                                        else
                                        {
                                            @item.ThoiGianKetThuc.ToShortTimeString()
                                        }
                                    </a>
                                </button>
                            </div>
                        }
                    }
                </div>
                    <a style="position:absolute; bottom: 0" href="~/timekeeping/createcong"><i style="width: 100%" class="fa fa-plus-circle fa-4" aria-hidden="true"></i></a>
            </div>
        }
    </div>
</div>

