@model SV19T1081018.Web.Models.CongPaginationResult
@{
    Layout = null;
}

<div class="box box-info" style="margin-top: 10px">
    <div class="box-header with-border">
        
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-gray">
                    <th>Ảnh</th>
                    <th>Tên nhân viên</th>
                    <th>Chức vụ</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Số điện thoại</th>
                    <th>Tổng số công trong tháng</th>
                    <th class="text-right">
                        <a class="btn btn-xs btn-primary" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td style="vertical-align:middle">
                            <img src="@item.Anh" alt="" style="width:100px" />
                        </td>
                        <td style="vertical-align:middle;">
                            @item.TenNhanVien
                        </td>
                        <td style="vertical-align:middle;">
                            @SV19T1081018.BusinessLayer.CommonDataService.GetChucVu(item.MaChucVu).TenChucVu
                        </td>
                        <td style="vertical-align:middle;">@item.NgaySinh</td>

                        @if (item.isNam)
                        {
                            <td style="vertical-align:middle;">Nam</td>
                        }
                        else
                        {
                            <td style="vertical-align:middle;">Nữ</td>
                        }
                        <td style="vertical-align:middle;">@item.SoDienThoai</td>

                        <td> @SV19T1081018.BusinessLayer.CommonDataService.CountCongTungThangCuaNhanVien(item.MaNhanVien, Model.Thang, Model.Nam)</td>

                        <td style="vertical-align:middle; text-align:right">
                            <a class="btn btn-xs btn-primary" href="~/timekeeping/edit/@item.MaNhanVien/@Model.Thang/@Model.Nam">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer text-center">
    </div>
    <div class="text-center">
        <ul class="pagination">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active"><a href="#">@i</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
                }
            }
        </ul>
    </div>
</div>


<script>
    $('#table').datepicker({
        format: 'MM/yyyy',
        icons: {
            time: 'fa fa-time',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        },
        startView: "months",
        minViewMode: "months"
    });
</script>
